.Container {
	width: 100%;
	margin: 0 auto;
	padding: 0px 5px;
}

.Header {
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	padding: 10px;
	margin-bottom: 16px;
	box-shadow: 0 7px 17px -16px rgba(0, 0, 0, 1);
}

nav {
	display: flex;
}

.NavItem {
	padding: 8px 16px;
	border-radius: 4px;
	text-decoration: none;
	color: black;
	font-weight: 500;
}

.NavItem:active {
	color: red;
	text-decoration: underline;
}

