.Container {
	width: 100%;
  margin: 0 auto;
  padding: 0px 5px;
}
  
.Header {
	font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  margin-bottom: 16px;
  box-shadow: 0 7px 17px -16px rgba(0, 0, 0, 1);
} 
  
  nav {
    display: flex;
  }

.NavItem {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  
}

.NavItem:active{
	color: red;
    text-decoration: underline;
}


.Cast {
	padding-left: 15px;
	margin-bottom: 10px;
}

.CastList {
	margin-bottom: 20px;
}

.ActorPhoto {
	max-width: 100px;
	max-height: 100px;
	object-fit: scale-down;
}

.GoBackBtn {
	margin-bottom: 10px;
}

.Film {
	display: flex;
	gap: 15px;
	padding-bottom: 8px;
	margin-bottom: 15px;
	box-shadow: 0 7px 17px -16px rgba(0, 0, 0, 1);
}

.Image {
	width: 300px;
	height: 400px;
	object-fit: cover;
 }

 p {
	margin: 0;
 }


 .AdditionalInfoList {
	padding-bottom: 10px;
	box-shadow: 0 7px 17px -16px rgba(0, 0, 0, 1);
 }

 .AdditionalInfo {
	padding: 5px;
 }